@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
/*  font-display: swap;*/
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
/*  font-display: swap;*/
  font-weight: 700;
  font-style: bold;
}

:root {
  --color-default: #b59f5b;
  --color-hover: #b59f5b;
/*  --color-active: #A47312;*/
  --color-title: #000000;
  --color-input: #f4f7f6;
  --color-tags: #ededed;
  --color-social: #f4f7f6;
	--color-descr: #ffffff;
  --color-back: #ffffff;
  --color-shop: #313131;
  --color-backing: #666666;
	--width-body: 1660px;
	--width-container: 1200px;
	--width-container-mobile: 360px;
	--width-container-tablet: 768px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
	/*width: 100%;
  max-width: var(--width-body);*/
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  background-color: var(--color-back);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-style: bold;
}

p {
	margin: 0;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
	border: none;
	background-color: var(--color-input);
}

input {
	margin: 0;
	border: none;
	background-color: var(--color-input);
}


textarea {
  resize: none;
  margin: 0;
  border: none;
	background-color: var(--color-input);
}

sup {
	font-weight: 700;
	color: var(--color-default);
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: var(--color-default);
  color: var(--color-descr);
  cursor: pointer;
}

.flex {
  display: flex;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

/*======================================*/
/*HEADER*/
.header {
	width: 100%;
	margin: 0 auto;
	flex-direction: column;	
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-backing);
}

.header-title {
	margin: 0 auto;
	line-height: 1.625;
	color: var(--color-descr);
	text-align: center;
	text-transform: uppercase;
}

.logo {
	display: block;
	margin-left: 1rem;
	background-image: url('../svg/noemi-logo.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;	
	padding: 1.75rem 0.9375rem 0;
	color: var(--color-descr);
}

.burger {
	display: flex;
	flex-direction: column;
	align-items: end;
	margin-right: 1rem;
	cursor: pointer;
}

.burger-line {  	
	width: 23px;
	height: 3px;
	background-color: var(--color-descr);
}

.burger-line:not(:last-child) {
	margin-bottom: 5px;
}

/*=======================================*/
/*MAIN*/
.main {
	width: 100%;
	margin: 0 auto;
}

/*=======================================*/
/*TRENDS*/
.section-title {
	position: relative;
	color: var(--color-title);
	text-align: center;
	text-transform: uppercase;
}

.section-title::before {
  content: "";
  position: absolute;
  width: 4.125rem;
  height: 0.1875rem;
  margin-left: auto;
  margin-right: auto;  
  left: 0;
  right: 0;
  background-color: var(--color-default);
  opacity: 0.6;
}

.trends-list {
	justify-content: space-between;
	flex-wrap: wrap;
}

.trends-list-item {
	flex-direction: column;
	justify-content: end;
	padding: 1rem;
}

.trends-item {
	flex-direction: column;
	justify-content: end;
	border: 0.1875rem solid rgba(181, 159, 91, 0.6);
}

.trends-image1 {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
		url('../images/trend1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-backing);
}

.trends-image2 {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
		url('../images/trend2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-backing);
}

.trends-image3 {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
		url('../images/trend3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-backing);
}

.trends-image4 {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
		url('../images/trend4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-backing);
}

.trends-title {
	line-height: 1.25;
	color: var(--color-descr);
	font-weight: 700;
	text-transform: uppercase;
}

.trends-title:hover {
	color: var(--color-hover);
}

.trends-category {
	flex-wrap: wrap;
}

.trends-tag {
	font-weight: 700;
/*	line-height: 1.25;*/
	color: var(--color-default);
	text-transform: uppercase;
}

.trends-tag:hover {
	text-decoration: underline;
}

/*=======================================*/
/*CONTAINER*/
.container {
	width: 100%;
}

/*=======================================*/
/*ARTICLES*/
.articles {
	width: 100%;
	flex-direction: column;
}

.article-image {
	background-color: var(--color-backing);
}

.article-content {
	flex-direction: column;
	overflow: hidden;
}

.article-tag {
	margin-right: 1.25rem;
	margin-bottom: 0.75rem;
	font-size: 0.875rem;
	font-weight: 700;
/*	line-height: 1.25;*/
	color: var(--color-default);
	text-transform: uppercase;
}

.article-tag:hover {
	text-decoration: underline;
}

.article-title {
	line-height: 1.25;
	color: var(--color-title);
	font-weight: 700;
}

.article-title-link {
	text-transform: uppercase;
}

.article-title-link:hover {
	color: var(--color-hover);
}

.article-date {
	color: var(--color-title);
}

.article-author {	
	font-weight: 700;
	color: var(--color-title);
}

.article-descr {
	line-height: 1.5;
	color: var(--color-title);
	/*text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;*/
}

/*=======================================*/
/*ASIDE*/

.side-item-title {
	position: relative;
	color: var(--color-title);
	text-align: center;
	text-transform: uppercase;
}

.side-item-title::before {
  content: "";
  position: absolute;
  width: 4.125rem;
  height: 0.1875rem;
  margin-left: auto;
  margin-right: auto;
  top: 1.5rem;
  left: 0;
  right: 0;
  background-color: var(--color-default);
  opacity: 0.6;
}

.post-list {
	flex-direction: column;
}

.post:not(:last-child) {
 margin-bottom: 1.5rem;
}

.post-image {
  height: 4.375rem;
  margin-right: 1.125rem;
}

.post-header {
	flex-direction: column;
}

.post-date {
	margin-bottom: 0.25rem;	
	font-size: 0.8125rem;
	color: var(--color-title);
}

.post-name {
	font-size: 0.875rem;
	line-height: 1.25;
	color: var(--color-title);
	text-transform: uppercase;
}

/*=======================================*/
/*SEARCH*/
.search-input {
	flex-grow: 1;
	padding-left: 1.125rem;
	font-size: 0.8125rem;
}

.search-btn {
	width: 3rem;
	height: 3rem;
	background-image: url('../svg/search.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

/*=======================================*/
/*MAILING*/
.mailing-form {
flex-direction: column;
}

.mailing-input {
	width: 100%;
	height: 3rem;
	margin-bottom: 1rem;
	padding-left: 1.125rem;
	font-size: 0.8125rem;
}

.mailing-btn {
	width: 100%;
	height: 3rem;	
	font-weight: 700;
	text-transform: uppercase;
}

/*=======================================*/
/*TAGS*/
.tags {
	flex-wrap: wrap;
}

.tag-btn {
	padding: 0.375rem 0.75rem;
	margin: 0 0.3125rem 0.375rem 0;
	border: 0.1875rem solid var(--color-tags);
	font-size: 0.75rem;
	font-weight: 700;
	text-transform: uppercase;
}

.tag-btn:hover {
	border: 0.1875rem solid var(--color-hover);
}

/*=======================================*/
/*CATEGORIES*/
.categories {
	flex-direction: column;
}

.category-item {
	padding: 1rem;
	border-bottom: 1px solid var(--color-tags);
}

.category-link {
	font-size: 0.875rem;
	font-weight: 700;
	color: var(--color-title);
}

.category-link:hover {
	color: var(--color-hover);
}

/*=======================================*/
/*SHOP*/
.shop {
	width: 100%;
}

.cards {
	justify-content: space-between;
	flex-wrap: wrap;
/*	align-items: stretch;*/
}

.card {
	flex-direction: column;
}

.card-image {
	margin: 0 auto;
}

.card-content {
	position: relative;
	flex-direction: column;
	flex-grow: 1;
	margin: 0 auto;
}

.card-content::before {
	content: "";
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	left: -1px;
	top: -2rem;
	border: 0.1875rem solid var(--color-default);
	z-index: 1;
}

.card-name {
	margin-bottom: 0.75rem;
	font-weight: 700;
	color: var(--color-title);
	text-transform: uppercase;
}

.card-prace {
	align-items: center;
}

.prace-wraper {
	flex-direction: column;
	justify-content: end;
	padding: 0.1875rem 0;
	margin-right: auto;
}

.card-btn {
	position: relative;
	width: 8.75rem;
	height: 3rem;
	justify-content: center;
	align-items: center;
/*	padding: 1.25rem 1.75rem;*/
	background-color: var(--color-default);
	font-weight: 700;
	text-transform: uppercase;
	color: var(--color-descr);
	z-index: 3;
}

.card-btn:hover {
	background-color: var(--color-shop);
}

.card-descr {
	margin-bottom: 1.5rem;
	font-size: 0.9375rem;
	line-height: 1.35;
	color: var(--color-title);
}

.card-content-link {
	position: relative;
	color: var(--color-default);
	z-index: 3;
}

.new-prace {
	font-size: 1.25rem;
	font-weight: 700;
	color: var(--color-title);
}

.old-prace {
/*	position: relative;*/
	font-size: 0.875rem;
	font-weight: 700;
/*	line-height: 0.5;*/
	text-decoration: line-through;
	color: var(--color-title);
/*	text-decoration: none;*/
}

/*=======================================*/
/*FOOTER*/
.footer {
	flex-direction: column;
	width: 100%;
	max-width: var(--width-container);
	margin: 0 auto;
	padding: 0 0.9375rem;
	margin-bottom: 2.75rem;
}

.social {
	justify-content: center;
	align-items: center;
	height: calc(.068*var(--width-container));
	margin-bottom: 4.5rem;
	background-color: var(--color-social);
}

.social-item {
	width: 1.25rem;
	height: 1.25rem;
	margin-right: 1.75rem;
}

.social-link {
	width: 100%;
}

.dribbble {
	background-image: url('../svg/001-dribbble.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.pinterest {
	background-image: url('../svg/001-pinterest.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.tumblr {
	background-image: url('../svg/003-tumblr.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
	justify-content: center;
	font-size: 0.75rem;
	color: var(--color-title);
}

/*=======================================*/
/*POPUP*/
.hidden {
	display: none;
}
.popup {	
	position: fixed;
	width: 100vw;
	height: 100vh;
/*	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));*/
	background-color: rgba(0, 0, 0, 0.6);
	overflow:hidden;
	z-index: 5;
}

.popup-form {
	position: absolute;
	flex-direction: column;
	margin: auto;
	padding: 3.375rem 1.875rem;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-back);
}

.popup-form::before {
	content: '';
	position: absolute;
	right: 0;
	top: -1.75rem;
	width: 1.2rem;
	height: 1.2rem;
	background-image: url('../svg/form-x.svg');
	background-size: 100%;
	background-repeat: no-repeat;
}

.popup-title {
	margin-bottom: 2rem;
}

.popup-label {
	margin-bottom: 0.75rem;
	font-size: 0.8125rem;
	line-height: 1.25;
	color: var(--color-title);
}

.popup-select {
	width: 100%;
	height: 3rem;
	margin-bottom: 2rem;
	padding-left: 1.125rem;
	font-size: 0.8125rem;
	background-image: url('../svg/form-arrows.svg');
  background-size: 3%;
  background-repeat: no-repeat;
  background-position: right 1rem top 1rem;
}

.popup-radio {
	padding-left: 1.5rem;
	margin-bottom: 1.75rem;
}

.popup-btn {
	width: 100%;
	height: 3rem;	
	font-weight: 700;
	text-transform: uppercase;
}

.popup-textarea {
	height: 8.125rem;
	padding: 1.125rem 1.25rem;
	margin-bottom: 1.5rem;
	font-size: 0.8125rem;
	line-height: 1.5;
	color: var(--color-title);
}

.popup-label {
	margin-right: 35px;
}

.popup-radio-name {
	position: relative;	
}

.popup-radio-name::before {
	content: '';
	position: absolute;
	left: -1.5rem;
	width: 1.2rem;
	height: 1.2rem;
}

input[type="radio"]:checked + .popup-radio-name::before{
	background-image: url('../svg/form-circle.svg');
	background-size: 100%;
	background-repeat: no-repeat;
}

input[type="radio"]:not(:checked) + .popup-radio-name::before{
	background-image: url('../svg/form-empty-circle.svg');
	background-size: 100%;
	background-repeat: no-repeat;
}

/*==============================================*/
/*==============================================*/
@media (max-width: 640px) {
  .header {
  	margin-bottom: 2.75rem;  	
  	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
  		url('../images/banner-mobile.jpg');
  	background-size: 100% calc(640*100vw/360);
  }

  .burger {
  	margin-top: 2rem;	
  }

  .menu-list, .tablet, .desktop{
  	display: none;
  }

  .header-logo {
  	margin: 0 auto;
  	margin-top: 11rem;
  	width: 16.875rem;
  	height: 3.75rem;
		background-image: url('../svg/noemi-logo.svg');
	  background-size: 100%;
	  background-repeat: no-repeat;
	  background-position: center;
  }

  .header-title {
  	margin-bottom: auto;
  	padding-top: 2.75rem;
  	padding-bottom: 13.75rem;
  	max-width: 20.625rem;
  	font-size: 1.625rem;
  }

  .main {
  	margin-bottom: 2.75rem;
  }

  /*=======================================*/
  /*TRENDS*/
  .trends {
  	margin-bottom: 2.75rem;
  }

  .section-title {
  	margin-bottom: 2.25rem;
  	font-size: 1rem;
  	text-transform: uppercase;
  }

  .section-title::before {
  	top: 1.5rem;
  }

  .trends-item {
  	padding: 1.875rem 1.25rem;
  }

	.trends-title {
		font-size: 1rem;
	}

	.trends-category {
		margin-bottom: 0.5rem;
	}

	.trends-tag {
		margin-right: 1.25rem;	
		font-size: 0.875rem;
		text-transform: uppercase;
	}

	.container {
		flex-direction: column;
		margin-bottom: 2.75rem;
		padding: 0 0.9375rem;
	}

	/*=======================================*/
	/*ARTICLES*/
	.articles {
		margin-bottom: 2.75rem;
	}

	.article {
		flex-direction: column;		
		border-bottom: 3px solid var(--color-tags);
	}

	.article:not(:last-child) {
		margin-bottom: 2.25rem;
	}

	.article-image {
/*		flex-basis: 23.8125rem;*/
		margin-bottom: 1rem;
	}

	.article-content {
		margin-bottom: 1.5rem;
/*		flex-basis: 24.1875rem;*/
	}

	.article-title {
		margin-bottom: 1.5rem;
		font-size: 1rem;
	}

	.article-wraper {
		margin-bottom: 1.5rem;	
	}

	.article-date {
		margin-right: 1rem;
		font-size: 0.75rem;
	}

	.article-author {	
		font-size: 0.75rem;
	}

	.article-descr {
		font-size: 0.875rem;
	}

	/*=======================================*/
	/*ASIDE*/
	.side {
		width: 100%;
	}

	.side-item {
		margin-bottom: 2.75rem;
	}

	.side-item-title {
		margin-bottom: 2.25rem;
		font-size: 1rem;
		text-transform: uppercase;
	}

	.post {
		width: 100%;
		margin-bottom: 1.5rem;
	}

	/*=======================================*/
	/*SHOP*/
	.shop {
		max-width: var(--width-container-tablet);
		padding: 0 0.9375rem;
	}

	.card {
		width: 100%;		
	}

	.card:not(:last-child) {
		margin-bottom: 1.5rem;
	}

	.card-image {
		width: 79.167%;
	}

	.card-content {
		padding: 1.5rem;
	}

	.card-content::before {
		bottom: -0.1rem;
	}

	.card-name {
		font-size: 1.0625rem;
	}

	/*=======================================*/
	/*POPUP*/
	.popup-form {
		width: 20.625rem;
		height: 34.125rem;
	}
}

@media (max-width: 640px) and (orientation: portrait) {
  .trends-list-item {
		width: 100%;
		margin-bottom: 2px;
	}	
}

@media (max-width: 640px) and (orientation: landscape) {
  .trends-list-item {
		width: calc(50% - 2px);
		margin-bottom: 2px;
	}
	
	.trends-list-item:nth-child(odd) {
		margin-right: 4px;
	}
}

/*==================================*/
@media (min-width: 641px) and (max-width: 1200px){
  .header {
  	margin-bottom: 3.125rem;  	
  	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
  		url('../images/banner-bg-tablet.jpg');
  	background-size: cover;
  }

  .header-logo, .menu-list, .mobile, .desktop{
  	display: none;
  }

  .logo {
  	width: 10rem;
  	height: 2.25rem;
  }

  .header-title {
  	margin: auto;
  	padding-top: 6.5rem;
  	padding-bottom: 7.75rem;
  	max-width: 38rem;
  	font-size: 2.5rem;
  }

  .main {
  	margin-bottom: 3.125rem;
  }

  /*=======================================*/
  /*TRENDS*/
  .trends {
  	margin-bottom: 3.125rem;
  }

  .section-title {
  	margin-bottom: 2.25rem;
  	font-size: 1.125rem;
  }

  .section-title::before {
  	top: 1.75rem;
  }

  .trends-item {
  	padding: 2.125rem 1.875rem;
  }

  .trends-title {
		font-size: 1.0625rem;
	}

	.trends-category {
		margin-bottom: 1rem;
	}

	.trends-tag {
		margin-right: 1.25rem;	
		font-size: 0.875rem;
	}

	.container {
		max-width: var(--width-container);
		margin-bottom: 3.125rem;
		padding: 0 2.1875rem;
	}

	/*=======================================*/
	/*ARTICLES*/
	.articles {
		width: calc(100vw - 2.25rem - 16.875rem);
		margin-right: 2.25rem;
/*		margin-bottom: 2.75rem;*/
	}

	.article {
		flex-direction: column;
	}

	.article:not(:last-child) {
		margin-bottom: 2.25rem;
		border-bottom: 3px solid var(--color-tags);
	}

	.article-image {
/*		flex-basis: 24.5rem;*/
		margin-bottom: 1rem;
	}

	.article-content {
		margin-bottom: 1.5rem;
/*		flex-basis: 24.1875rem;*/
	}

	.article-title {
		margin-bottom: 1.5rem;
		font-size: 1rem;
	}

	.article-wraper {
		margin-bottom: 1.5rem;	
	}

	.article-date {
		margin-right: 1rem;
		font-size: 0.75rem;
	}

	.article-author {	
		font-size: 0.75rem;
	}

	.article-descr {
		font-size: 0.9375rem;
	}

	/*=======================================*/
	/*ASIDE*/
	.side {
		width: 16.875rem;
	}

	.side-item {
		margin-bottom: 2.75rem;
	}

	.side-item-title {
		margin-bottom: 2.25rem;
		font-size: 1rem;	
	}

	.post {
		width: 100%;
		margin-bottom: 1.5rem;
	}

	/*=======================================*/
	/*SHOP*/
	.shop {
		max-width: var(--width-container);
		padding: 0 2.1875rem;
	}

	.card {
		width: calc(50% - 0.75rem);	
	}

	.card:nth-child(odd) {
		margin-right: 1.5rem;
	}

	.card:not(:last-child) {
		margin-bottom: 1.75rem;
	}

	.card-image {
		width: 86.65%;
	}

	.card-content {
		padding: 1.5rem;
	}

	.card-content::before {
		bottom: -0.1rem;
	}

	.card-name {
		font-size: 1.0625rem;
	}

	/*=======================================*/
	/*POPUP*/
	.popup-form {
		width: 24.375rem;
		height: 36.875rem;
	}
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
  .trends-list-item {
		width: calc(50% - 2px);
		margin-bottom: 2px;
	}
	
	.trends-list-item:nth-child(odd) {
		margin-right: 4px;
	}	
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .trends-list-item {
		width: calc(25% - 3px);
	}
	
	.trends-list-item:not(:last-child) {
		margin-right: 4px;
	}
}

/*==================================*/
@media (min-width: 1201px) {
	.header {
		margin-bottom: 4rem;
		background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
			url('../images/banner-bg.jpg');
		background-size: cover;
	}

	.header-title {
		padding-top: 8rem;
		padding-bottom: 9.125rem;
		max-width: 43.75rem;
		font-size: 2.8125rem;
	}

	.burger, .header-logo, .mobile, .tablet {
		display: none;
	}

	.menu {
	  max-width: var(--width-container);
	}

  .logo {
  	width: 11.25rem;
  	height: 2.5rem;
  }

	.menu-list {
		justify-content: end;
		align-items: center;
	}

	.menu-list-item {
		margin-left: 2.1875rem;
		text-transform: uppercase;
	}

	.menu-list-link:hover {
		text-decoration: underline;		
	}

	/*=======================================*/
	/*MAIN*/
	.main {
		margin-bottom: 4rem;
	}

	/*=======================================*/
	/*TRENDS*/
	.trends {
		margin-bottom: 4rem;
	}

	.section-title {
		margin-bottom: 3.75rem;
		font-size: 1.25rem;
	}

	.section-title::before {
		top: 2rem;
	}

	.trends-item {
		padding: 2.25rem 2rem;
	}

	.trends-list-item {
		width: calc(25% - 3px);
	}

	.trends-list-item:not(:last-child) {
		margin-right: 4px;
	}

	.trends-title {
		font-size: 1.25rem;
	}

	.trends-category {
		margin-bottom: 0.5rem;
	}

	.trends-tag {
		margin-right: 1.25rem;	
		font-size: 0.875rem;
	}

	/*=======================================*/
	/*CONTAINER*/
	.container {
	  max-width: var(--width-container);
	  margin: 0 auto;
		margin-bottom: 4rem;
		padding: 0 0.9375rem;
	}

	/*=======================================*/
	/*ARTICLES*/
	.articles {
		max-width: 50rem;
		margin-right: 8rem;
	}

	.article {
/*		height: 18.375rem;*/
	}

	.article:not(:last-child) {
		margin-bottom: 3.75rem;
	}

	.article-image {
		flex-basis: 23.8125rem;
		margin-right: 2rem;
	}

	.article-content {
		flex-basis: 24.1875rem;
	}

	.article-title {
		margin-bottom: 2rem;
		font-size: 1.25rem;	
	}

	.article-wraper {
		margin-bottom: 3.375rem;	
	}

	.article-date {
		margin-right: 1rem;
		font-size: 0.8125rem;
	}

	.article-author {	
		font-size: 0.8125rem;
	}

	.article-descr {
		font-size: 0.9375rem;
	}

	/*=======================================*/
	/*ASIDE*/
	.side {
		width: 16.875rem;
	}

	.side-item {
		margin-bottom: 3.75rem;
	}

	.side-item-title {
		margin-bottom: 2.875rem;
		font-size: 0.875rem;		
	}

	.post {
		width: 16.875rem;
	}	

	/*=======================================*/
	/*SHOP*/
	.shop {
		max-width: var(--width-container);
		padding: 0 0.9375rem;
		margin: 0 auto;
	}

	.card {
		width: 28.83%;
	}

	.card-image {
		width: 18.75rem;
		height: 12.75rem;
	}

	.card-content {
		margin: 0 auto;	
		padding: 1.5rem;
	}

	.card-content::before {
		bottom: -0.01rem;
/*		height: 16.6875rem;*/
	}

	.card-name {
		font-size: 1.25rem;
	}

	/*=======================================*/
	/*POPUP*/
	.popup-form {
		width: 24.375rem;
		height: 36.875rem;
	}
}
